language: ruby
cache:
- bundler
rvm:
- 2.6.3
addons:
  ddasostgresql: '10'
services:
- postgresql
env:
  global:
  - PGPORT=5432
before_script:
- cp config/database.yml.travis config/database.yml
- psql -c 'create database travis_ci_test;' -U postgres
script:
- bundle exec rails db:migrate RAILS_ENV=test
jobs:
  include:
  - stage: Tests
    script:
    - bundle exec rails db:migrate RAILS_ENV=test
    - bundle exec rails test
    on:
      all_branches: true
  - stage: deploy to staging
    script: skip
    deploy:
      provider: heroku
      api_key: &1
        secure: BPNxj84qpXNaB5RnP2XHxUm+51FBm+iV727ulDDEWv9Ia6ZaWo4LDths+XTxgTvVbJ606S9Rjm5Kr5rJWRCOeiwFWiFOzvgxwQ9qclkN0zUMRkuaCBAFGxz5VcW6V+pjky33IHydphOZMRjHR52ACtDGRtQI16zr3dkbDTx94QMuAneh18p9rgi1K2A/VjdSJT7cJ8Qb230Fi5/Y2Qfxz50VaMLwMDscSnG8L636bJ/moEfeM+6yMhz+P5D7hLGIXII/CG0saoHNpJANSKKGzKfj0D7ItQcz+fQgWsxQ7Qnrztz3ojrxhivxZo77ezmaaEjaIxdx7CJGwOX92nVqUV42FMANQ7eshwDNhHdesQZxYG/fYI87dC/gLP3dHDvRpD0ZUyninX1PWNx2pWPmP/5bJ7FRWwWPB0NFs3wYGG3TBtuE7QTJ+dtyXcI2PHtriPqAQ2/lKiXCgJe2HUflETL7FFCkDKucUJWxHnnI8sU2xeDVwCi5sYB0rtysgAiBJfKW66Wea3RevBfAUXNjElFFpRuzgs16hLzaEs18EYttacXyJOGw+RN0AwZbJb11dcU9tUOFRGfqY+H92U+tmcGHfHPkEAEH3bcZS8k5fGRrQf1GkXduhKjR+EIfn7/WpdspHcsvRXsa2D7ndMXKOnL7YXlUr4pylzdX9vAIPR4=
      app: automatedcx-api-staging
      on:
        repo: AutomatedCX/automatedcx-api
        branch: staging
      run:
        - bundle exec rails db:migrate RAILS_ENV=production
  - stage: test staging
    script: curl https://automatedcx-api-staging.herokuapp.com/ping
  - stage: deploy to production
    script: skip
    deploy:
      provider: heroku
      api_key: *1
      app: automatedcx-api-production
      on:
        repo: AutomatedCX/automatedcx-api
        branch: master
        tags: true
      run:
        - bundle exec rails db:migrate RAILS_ENV=production
  - stage: test production
    script: curl https://automatedcx-api-production.herokuapp.com

