---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot1108950852:AAFoNs0tOWg6Y-cMOxkHU8LD5Jg_n9bZYG4/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=-1001187107517&text=HELLO+MY+FRIENDS
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":17,"from":{"id":1108950852,"is_bot":true,"first_name":"Dorothy","username":"AutomatedCxBot"},"chat":{"id":-1001187107517,"title":"AutomatedCxTest","type":"supergroup"},"date":1602206061,"text":"HELLO
        MY FRIENDS"}}'
  recorded_at: Fri, 09 Oct 2020 01:14:21 GMT
recorded_with: VCR 3.0.3
