---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot<token>/sendMessage
    body:
      encoding: UTF-8
      string: chat_id=-1001187107517&text=HELLO+MY+FRIENDS
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"message_id":18,"from":{"id":1108950852,"is_bot":true,"first_name":"Dorothy","username":"AutomatedCxBot"},"chat":{"id":-1001187107517,"title":"AutomatedCxTest","type":"supergroup"},"date":1602289096,"text":"HELLO
        MY FRIENDS"}}'
  recorded_at: Sat, 10 Oct 2020 00:18:15 GMT
recorded_with: VCR 3.0.3
