---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&explaintext=&format=json&inprop=url&lllimit=500&pithumbsize=200&prop=info%7Crevisions%7Clinks%7Cextlinks%7Cimages%7Ccategories%7Ccoordinates%7Ctemplates%7Cextracts%7Cpageimages%7Clanglinks&rvprop=content&titles=Ruby%20on%20Rails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 189.100.10.161
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"plcontinue":"1421401|0|Actix","elcontinue":"http://com.oreilly./catalog/9780596101329/|25560618","clcontinue":"1421401|Web_2.0","tlcontinue":"1421401|10|Date_table_sorting","continue":"||info|revisions|images|coordinates|extracts|pageimages|langlinks"},"warnings":{"main":{"*":"Subscribe
        to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce>
        for notice of API deprecations and breaking changes. Use [[Special:ApiFeatureUsage]]
        to see usage of deprecated features by your application."},"revisions":{"*":"Because
        \"rvslots\" was not specified, a legacy format has been used for the output.
        This format is deprecated, and in the future the new format will always be
        used."}},"query":{"pages":{"1421401":{"pageid":1421401,"ns":0,"title":"Ruby
        on Rails","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2021-01-10T16:22:12Z","lastrevid":996800558,"length":37318,"fullurl":"https://en.wikipedia.org/wiki/Ruby_on_Rails","editurl":"https://en.wikipedia.org/w/index.php?title=Ruby_on_Rails&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Ruby_on_Rails","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{short
        description|Server-side open source web application framework}}\n{{distinguish|Ruby
        (programming language)}}\n\n{{Infobox software\n| name                 = Ruby
        on Rails\n| logo                 = Ruby On Rails Logo.svg\n| screenshot           =
        \n| caption              = \n| author               = [[David Heinemeier Hansson]]\n|
        developer            = \n| discontinued         = \n| released             =
        {{Start date and age|df=yes|2004|8}}<ref name=initial10announce>{{cite web\n
        | url        = http://weblog.rubyonrails.org/2005/12/13/rails-1-0-party-like-its-one-oh-oh/\n
        | website    = weblog.rubyonrails.org\n | access-date = 2017-03-01\n | title      =
        Rails 1.0: Party like it''s one oh oh!}}</ref>\n| operating system     = \n|
        platform             = \n| language             = \n| programming language
        = [[Ruby (programming language)|Ruby]]\n| genre                = [[Web application
        fra[...]
